{:kotoba.app/id "cloud.itonami.isic-853", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigtridyowx6apbn2cwntwazwmz5vvgbku3z7ukemasqbwjcqwnq2y", :kotoba.app/embed-url "ipfs://bafkreigtridyowx6apbn2cwntwazwmz5vvgbku3z7ukemasqbwjcqwnq2y", :published {:archive "https://kotobase.net/ipfs/bafkreigtridyowx6apbn2cwntwazwmz5vvgbku3z7ukemasqbwjcqwnq2y", :size 72768, :put-status 201, :get-status 200, :at "2026-08-15T13:46:00.116Z"}}
